<div id="<%-module.map.id%>">

	<div class="stackingcnt">	
	</div>
	
	<div class="adcnt">	
		<a href="https://bestsellers.brighteonstore.com/best-sellers?rfsn=6468171.78eed0&utm_source=refersion&utm_medium=affiliate&utm_campaign=6468171.78eed0" cordovalink="_system" external="external">
			<div class="img" image="img/adbr1.jpg">
			</div>
		</a>
	</div>

	<div class="topuserscnt">	
	</div>	

	<div class="bestpostscnt">	
	</div>
	
	<div class="recommendedpostscnt">	
	</div>	
	
	<div class="lastcommentscnt">	
	</div>

	<div class="panelcnt">
	</div>
	
</div>